
.style{
    background-color: tomato;
    color: white;
    font-size: 18px;
    /* width: 400px; */
    padding: 25px;
    border:2px solid black;
    border-radius:40px;
}
.addEvent{
    display: grid;
    grid-template-columns: auto auto;
     align-items: center;
    gap: 50px;
}
.form{
    margin-top: 50px;
    /* display: flex; */
    background:linear-gradient(to right,rgb(131, 10, 131),rgb(69, 22, 14));
    color: aliceblue;
    padding: 10px;
    border: 2px solid black;
    border-radius:20px;
}
fieldset{
    border: 2px solid white;
    border-radius:20px;
}
#btn2{
    margin-top: 20px;
    background-color:white ;
    color: black;
    padding: 10px;
    border-radius: 20px;

}
#sec{
    border: 2px solid black;
}
#sec div{
    border: 2px solid black;
}
 ol{
    border: 2px solid black;
}
li{
    border: 2px solid black;
}


#sec2{
     margin: 30px auto;
     width: 40%;
     text-align: center;
     color: antiquewhite;
    
     
}

.divi2{
    background:linear-gradient(to right,rgb(83, 83, 159),rgb(114, 10, 114),rgb(199, 42, 42));
     padding: 20px;
}
label,.divi2 input[type="email"],input[type="password"]{
    margin: 10px;
    width: 50%;
    padding: 5px;
    border-radius: 50px;
}
#btn3{
    padding: 10px;
    font-size: 16px;
    border-radius: 20px 0px 20px 0px;

}
@media screen and (max-width:760px ){
    .addEvent{
        display: grid;
    grid-template-columns: auto;
    }
    .form{
        width: 90%;
    }
    textarea{
        width: 100%;
    }
    #sec2{
        width: 100%;
    }
}